<!-- app/views/book_comments/_form.html.erb -->

<%= form_with model: [@book, @book_comment], local: false, remote: true do |f| %>
  <% if @book_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @book_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment, class: "form-control", rows: 3 %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
