
<div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%= form_with model: @group, local: true do |f| %>
          <% @groups.each do |group| %>
            <tr>
              <td><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></td>
              <%#= image_tag current_user.get_profile_image, size: '100x100' %>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= group.introduction %></td>
              <td>
                <%= group.users.length %>
              </td>
              <td>
                <% if group.owner_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>