<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: '100x100' %></tr>
  <tr>
	  <th><strong>name</strong></th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
    <tr>
    <th>follows</th>
    <td><%= user.followed_users.count %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= user.followers.count %></td>
  </tr>
  <tr>
    <td>
      <% if current_user != user %>
      <% if current_user.following?(user) %>
      <%= link_to 'Unfollow', destroy_relationship_path(followed_id: user.id), method: :delete, class: "btn btn-danger btn" %>
       <th><%= link_to 'DM', messages_path(id: user.id), class: "btn btn-primary" %></th>
      <% else %>
      <%= link_to 'Follow', relationships_path(followed_id: user.id), method: :post, class: "btn btn-primary btn btn-block btn-success" %>
      <% end %>

      <% end %>
      </td>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

<!--<div id="post_raty"></div>-->
// <script>
//   // scriptファイルをどのidの部分に配置するかを指定
//   let elem = document.querySelector('#post_raty');
//   let opt = {
//     //星画像の指定などのオプションをここに記述,
//   };
//   raty(elem,opt);
// </script>