<div class='container px-5 px-sm-0'>
<div class='row'>
<div class='col-md-3'>
<h2>User info<i class="fas fa-disease fa-sm"></i></h2>

<% if @book.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
<ul>
<% @book.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

<%= render 'users/info', user: current_user %>
<h2 class="mt-3">New book</h2>
<%= render 'form', book: @book %>
</div>
<div class='col-md-8 offset-md-1'>
<h2>Books</h2>
<% @books = Book.joins(:favorites).where('favorites.created_at >= ?', 1.week.ago).group(:id).order('favorites_count DESC') %>
<%= render 'index', books: @books %>
</div>

</div>
</div>
